.add-store-page {
  min-height: calc(100vh - 70px);

  display: flex;
  justify-content: center;
  align-items: center;

  background: #f8fafc;

  padding: 30px;
}

.add-store-card {

  width: 100%;
  max-width: 650px;

  background: white;

  padding: 40px;

  border-radius: 16px;

  box-shadow:
    0 10px 25px rgba(
      0,
      0,
      0,
      0.08
    );
}

.add-store-title {
  text-align: center;
  color: #0f172a;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 700;
}

.add-store-subtitle {
  text-align: center;
  color: #64748b;
  margin-bottom: 30px;
}

.store-input {

  width: 100%;

  padding: 12px 15px;

  margin-bottom: 18px;

  border: 1px solid #cbd5e1;

  border-radius: 8px;

  font-size: 15px;

  outline: none;

  transition: all 0.3s ease;

  box-sizing: border-box;
}

.store-input:focus {

  border-color: #2563eb;

  box-shadow:
    0 0 0 3px rgba(
      37,
      99,
      235,
      0.15
    );
}

.textarea {
  resize: none;
}

.store-btn {

  width: 100%;

  background: #2563eb;

  color: white;

  border: none;

  padding: 14px;

  border-radius: 8px;

  font-size: 16px;

  font-weight: 600;

  cursor: pointer;

  transition: 0.3s;
}

.store-btn:hover {

  background: #1d4ed8;

  transform: translateY(-2px);
}

@media (max-width: 768px) {

  .add-store-card {
    padding: 25px;
  }

}